temp/
data/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Environments
.env
.venv/
env/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# exp2
exp2/models

# exp2/gptzip/GPTzip
exp2/gptzip/logs

exp2/finezip/logs
